{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "aegisr.fullname" . }}
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "aegisr.name" . }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.namespace }}
        {{- if .Values.networkPolicy.allowFromNamespaceSelector }}
        - namespaceSelector:
{{ toYaml .Values.networkPolicy.allowFromNamespaceSelector | indent 12 }}
        {{- end }}
        {{- if .Values.networkPolicy.allowFromPodSelector }}
        - podSelector:
{{ toYaml .Values.networkPolicy.allowFromPodSelector | indent 12 }}
        {{- end }}
  egress:
    {{- if .Values.networkPolicy.allowEgressToDNS }}
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
    {{- end }}
{{- end }}
