name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.12'
        env:
          GOTOOLCHAIN: local
      - name: Go test
        env:
          GOTOOLCHAIN: local
        run: go test ./...
      - name: Go race
        env:
          GOTOOLCHAIN: local
        run: go test -race ./...
